/**REFRENCES: 
https://zellwk.com/blog/viewport-based-typography/
https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
**/

h1 {
    color:#373D20;
    text-align: center;
}
.content{
    display: block; 
    margin-left: 5vw;
    margin-right: 5vw;
}

form {
    text-align: left;
    display: inline-block;
}

.formBox {
    display: block;
    text-align: center;
    background-color: #bcbeaa;
}
.top-nav {
    background-color:#BCBD8B;
}
.top-nav a{
    display: inline-block;
    padding: 8px 15px;
    font-size: calc(100% + 0.5vw);
    text-decoration: none;
    font: sans-serif;
    color: black;
    font-family: verdana;
}

.top-nav a:hover {
    background-color: #717744 !important;
    color: black !important;
  }

.top-nav a.active{
    background-color: #373D20;
    color: #eff1ed;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    }

.col{
    flex: 25%;
    max-width: 23%;
}
.col img {
    margin-top: 30px;
    width: 100%;
    vertical-align: middle;
}

.overlay {
    position: fixed;
    pointer-events: none;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: opacity .2s ease-out;
    width :50vw;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.overlay img{
    width: 100%;
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
    .col {
      flex: 50%;
      max-width: 40%;
    }
  }
  
@media screen and (max-width: 600px) {
    .col {
      flex: 100%;
      max-width: 90%;
    }
  }

iframe{
    margin-top: 30px;
    width: 100%;
    vertical-align: middle;
}

table{
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
  }
th, tr{
    height: 65px;
}